#ballContainer {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  position: relative;
  margin: 0px auto;
}
#ball {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
