/*--------------------------- fonts ---------------------------- */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}

body {
  background: url("../assets/images/background.png");
  background-repeat: repeat;
  background-size: cover;
}
#game-container {
  /* background: #0d0d0d; */
  height: 700px;
  width: 630px;
  border: 4px solid #645a5a;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
  background: url("../assets/images/cloud.jpg");
  background-size: cover;
  margin-top: 20px;
  box-shadow: 0 0 10px 2px;
  border-radius: 10px;
}

#canvas {
  width: 400px;
  height: 600px;
  border: 4px solid #645a5a;
  background: #0d0d0d;
  border-radius: 10px;
}

#scoreboard {
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 12px;
}

#lifeText {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ec6ec5;
  font-weight: bold;
  text-align: center;
}
#lifeValue {
  border: 1px solid #9b2c23;
  height: 22px;
  width: 102px;
  border-radius: 5px;
}

#lifeValue .life {
  display: inline-block;
  background-color: #fcfa3d;
  height: 20px;
  width: 10px;
  border: 1px solid #9b2c23;
  border-radius: 5px;
}

#scoreValue {
  font-size: 28px;
  color: #cff96d;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game-name h1 {
  color: #b0b0b0;
  text-transform: uppercase;
}
.game-name p {
  text-align: right;
  font-size: 13px;
  color: #b0b0b0;
  text-transform: uppercase;
}
.record {
  margin-top: 200px;
}
.record h2 {
  color: #b0b0b0;
}
.record p {
  color: #b0b0b0;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
}

.bottom-buttons {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
}
.pause-container {
  background-color: #cccccc;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #757575;
}
.pause-container .game-pause {
  background-image: url("../assets/images/pause.png");
  width: 32px;
  height: 32px;
}
.pause-container .active {
  background-image: url("../assets/images/play.png");
  width: 32px;
  height: 32px;
}

#col-1,
#col-2 {
  display: none;
}
/*--------------------------- Start Game ---------------------------- */

#startgame {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  background: url("../assets/images/cloud.jpg");
  background-size: cover;
  border-radius: 10px;
}
.cover-button {
  text-transform: uppercase;
  outline: none;
  font-size: 20px;
  padding: 2px 12px;
  border-radius: 5px;
  background-color: #cccccc;
  border: 2px solid #757575;
  letter-spacing: 2px;
}
.cover-button:hover {
  background-color: white;
}

.gameCoverContent {
  width: 350px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.gameCoverContent .name {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  margin-bottom: 10px;
  color: #b0b0b0;
}

.gameLogo img {
  width: 350px;
  user-select: none;
}

.instruction-sound-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.game-instructions-container {
  display: none;
  background-color: #cccccc;
  border-radius: 5px;
  color: black;
  border: 2px solid #757575;
  padding: 8px;
  margin-top: 20px;
  transition: 0.5s;
}
.game-instructions-container h3 {
  margin-bottom: 5px;
}
.instructions {
  margin-bottom: 5px;
}
.instructions::before {
  content: "";
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 25%;
  display: inline-block;
}

.close-button-wrapper {
  text-align: right;
}
.sound-buttons {
  background-color: #cccccc;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #757575;
}
.sound-buttons .sound {
  background-image: url("../assets/images/sound-off.png");
  width: 32px;
  height: 32px;
}
.sound-buttons .active {
  background-image: url("../assets/images/sound-on.png");
  width: 32px;
  height: 32px;
}

/*--------------------------- Game Over ---------------------------- */
#gameoverContainer {
  position: absolute;
  width: 360px;
  z-index: 2;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameover {
  width: 400px;
  background-color: #cccccc;
  border: 2px solid #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameover-alert {
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 10px 0px;
  user-select: none;
}
#gameover-text {
  background-color: #cccccc;
  border: 2px solid #757575;
  color: #262120;
  padding: 8px;
  letter-spacing: 3px;
  border-radius: 2px;
  padding: 0 30px;
  border-radius: 10px;
  user-select: none;
}
#gameover-score,
#gameover-high-score {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0;
  line-height: 0.9;
}

#gameover-button {
  margin-top: 20px;
}

#gameover-reset,
#gameover-play-again {
  text-transform: uppercase;
  outline: none;
  font-size: 20px;
  padding: 2px 12px;
  border-radius: 5px;
  background-color: #cccccc;
  border: 2px solid #757575;
  letter-spacing: 2px;
  margin: 0 10px;
}

#gameover-reset:hover,
#gameover-play-again:hover {
  background-color: white;
}

#score-information {
  color: #262120;
  letter-spacing: 2px;
  margin: 20px 0px;
  user-select: none;
}
