@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 -200%;
  }
}

#game-cover {
  text-align: center;
  color: white;
  border-radius: 20px;
}

#game-name {
  color: #ff5733;
  font-size: 32px;
  padding: 60px;
  letter-spacing: 3px;
}

#game-controls {
  margin: 20px 0;
}
.control {
  display: inline-block;
  margin: 0 10px;
  padding: 8px;
  background-color: #fff;
  color: #000;
}

#game-instruction {
  margin: 40px 0;
}
.instruction-title,
.control-title {
  font-size: 20px;
}

.instructions {
  margin: 10 90px;
  padding: 8px;
  background-color: #fff;
  color: #000;
}
/* start button  */

#start-button {
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 75%;
  padding: 8px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
}

#start-button:hover {
  color: white;
  background-color: grey;
}

/* gaame instructions  */

#game-name {
  text-align: center;
}

#score {
  display: inline-block;
  position: absolute;
  top: 5;
  left: 10;
  padding: 8px;
  z-index: 5;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

#gameover {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
}
#gameover-text {
  color: #ff5733;
  font-size: 32px;
  padding: 8px;
  letter-spacing: 3px;
}
#gameover-score,
#gameover-high-score {
  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid black;
  margin: 0 20px;
}

#gameover-reset,
#gameover-play-again {
  display: block;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  width: 50%;
  margin: 20px auto;
}

#gameover-reset:hover,
#gameover-play-again:hover {
  color: #fff;
  background-color: #000;
}
