/* carousel */
.carousel-container {
  width: 600px;
  height: 400px;
  margin: 1em auto;
  position: relative;
  overflow-x: hidden;
}

.carousel-image-wrapper {
  display: flex;
  position: relative;
}
.carousel-image-wrapper img {
  max-width: 100%;
}

/* arrow */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  z-index: 10;
  color: azure;
  opacity: 0.8;
  padding: 8px;
  transition: opacity 0.25s;
}
.arrow:hover {
  opacity: 0.9;
  color: aqua;
}

#arrowLeft {
  left: 0;
}
#arrowRight {
  right: 0;
}

/* dots  */

.dots-container {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  justify-content: center;
}

.dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: azure;
  margin: 0 5px;
  opacity: 0.8;
  transition: opacity 0.25s;
}
.dot:hover,
.dot.active {
  opacity: 0.9;
  background-color: aqua;
}
