:root {
  --border-color: grey;
  --base-color: #212121;
  --text-color: #fff;
  --background-color: blue;
  --hover-color: lightblue;
}

.body-container {
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;

  /* background-color: var(--base-color); */
  /* color: var(--text-color); */
  border: 1px solid var(--border-color);
}

.header {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
}
.options {
  display: flex;
  align-items: center;
  width: 100%;
}
.options input[type="checkbox"] {
  display: none;
}

.label {
  font-size: 1.25em;
}

.range-slider {
  flex: 1;
  margin: 0 1em;
  cursor: pointer;
  width: 100%;
  height: 20px;
  border: 2px solid blue;
}
.range {
  width: 60px;
  height: 40px;
  font-size: 1.2em;
  border-radius: 5px;
  outline: none;
  text-align: center;
  border: 1px solid var(--border-color);
}

.switch {
  background-color: black;
  height: 32px;
  width: 60px;
  position: relative;
  border-radius: 20px;
  margin-left: auto;
  display: inline-block;
  margin-left: auto;
  transition: 0.25s;
}

.switch::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 26px;
  border-radius: 50%;
  background: blue;
  left: 4px;
  top: 3px;
}

.options .active {
  background-color: blue;
}

.options .active::after {
  transform: translateX(24px);
  background: black;
}

.generate-button {
  width: calc(100% - 2em);
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  border: 2px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  margin: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}
.generate-button:hover {
  background-color: var(--hover-color);
}

.result-container {
  display: none;
}

.result {
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
}

.copy-button {
  margin: 1em;
  padding: 1em;
  width: calc(100% - 2em);
  font-size: 1.2em;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

.alert {
  display: none;
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.alert span {
  display: inline-block;
  color: #fff;
  background-color: #000;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  transition: bottom 2s ease 0s;
}
